<div class="page-container">

{{!-- 
    <form id="form" action="/login" method="POST">
    <label for="username">Username</label><br>
    <input type="text" name="username"
      placeholder="Your username">

    <label for="password">Password</label><br>
    <input type="password" id="password" name="password" placeholder="********"> --}}

  <form action="/login" method="POST" id="form">
    <h2>Login</h2>

    <label for="username">Username</label>
    <input value="jon" type="text" name="username">

    <label for="password">Password</label>
    <input value="jon" type="password" name="password">

    {{#if errorMessage }}
      <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <button>Sign in</button>

    <p class="account-message">
      Don't have an account? <a href="/signup">Sign up</a>
    </p>
  </form>
</div>