<div class="container-fluid authContainer">
  <div id="signupForm">
  <form id="form" action="/signup" method="POST">
    
    <label for="username">Username</label><br>
    <input type="text" name="username" placeholder="Your username">

    <label for="password">Password</label><br>
    <input type="password" id="password" name="password" placeholder="********">

    <div class="meter-container"><meter max="4" id="strengthMeter"></meter></div>
    <div id="strengthText"></div>

    <button type="submit">Create account</button>

  </form>
  </div>
  {{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

</div>
{{!-- </div> --}}
<script src="/javascripts/passwordStrength.js"></script>

  
