{{!-- <h1>You are adding a trade for {{capitalize stockTicker}} stock</h1> --}}
{{!-- <div class="hideLabel"> {{ theLabel}} </div> --}}
{{!-- <form action="/stock" method="post">
  <div>
      <input type="radio" id="buy"
      name="tradeType" value="Bought">
      <label for="Buy">Buy</label>
      <input type="radio" id="sell"
      name="tradeType" value="Sold">
      <label for="Sold">Sell</label>
  </div>
  <input type="text" value= "{{capitalize stockTicker}}" name="ticker"> </br>
  <input type="number" placeholder="Enter Current Price" name="price"> </br>
  <input type="number" placeholder="Enter Quantity" name="shares"> </br>
  <button type="submit">Add Trade</button>
</form> --}}


