<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.js"   integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="   crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
  <link rel="stylesheet" href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'></link>

</head>
<body>
  <div id="navBar">
    <nav>
      {{#if user}}
        Welcome {{capitalize user.username}}!
        <a href="/">Home</a>
        <a href="/userHome">Dashboard</a>
        <a href="/logout">Logout</a>
      {{else}}
        <a href="/">Home</a>
        <a href="/signup">Sign up</a>
        <a href="/login">Login</a>
      {{/if}}
    </nav>
  </div>
  {{{body}}}

  

</body>
</html>