* {
  margin: 0 auto; 
}

body {
  font: 14px "Lucida Grande";
}

#form {
  width: 380px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;
}

meter::-webkit-meter-bar {
  background: none;
}

meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

#strengthMeter {
  transition: all 1s;
}

.meter-container{
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  height: .5em;
}

#strengthText {
  padding: 5px 0 25px 0;
}

.hideMe {
  display: none;
}

.hideDates {
  display: none;
}

.hideLabel {
  display: none;
}

.navBarContainer {
  background-color: rgba(239, 134, 17, .8);
  padding: 10px;
  width: 100vw;
  position: fixed;
  display: flex;
  z-index: 1;
}

.navBarContainer a {
  color: white;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.homeContainer {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/indexBG.jpeg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(118, 59, 11);
}

.authContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/indexBG.jpeg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(118, 59, 11);
}

#signupForm {
  width: 100vw;
  display: flex;
  padding-top: 100px;
}

.userHomeContainer {
  height: 100vh;
  background-image: url("../images/userHome.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.userHomeTitle h1{
  padding: 70px 40px 0 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5.5vw;
  letter-spacing: -1px;
  font-weight: bold;
  text-align: right;
  z-index: 2;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
  font-weight: bolder;
}

.userHomeTitle h2 {
  color: white; 
  float: right;
  font-size: 3.5vw;
  margin-right: 35px; 
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
  font-weight: bolder;
}

.tickerSearchBar {
  margin-left: 65px; 
}

.tickerSearchBar label {
  color: white; 
  font-size: 3vw;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
  font-weight: bolder;
}

.tickerSearchBar input {
  width: 20vw;
  font-size: 2vw; 
  text-align: center;
}


.watchlist {
  margin-top: 20px;
  display: flex;
  padding-left: 25vw;
  width: 45vw;
  flex-direction: column;
}

.watchlistSpacer {
  display: flex !important;
  align-items: center;
  width: 45vw;
  justify-content: space-between;
}

.list-group-item {
  display: inline;
}

.btninline {
  display: inline-flex
}

.chart {
  position: absolute;
  left:0;
  width:50vw !important;
  height:60vh !important;
}

.recordTrade  {
  margin-left: 45px;
  width: 37vw;
  text-align: center;
  // float: right;
  justify-items: center !important;
}

.recordTrade a {
  color: white;
  text-decoration: none; 
}

.addTrade button{
 margin-left: 27%;
}

// =======================================
//= = = = = = = Media Query = = = = = = =
//========================================

@media (max-width: 768px) {

  .navBarContainer {
    width: 100vw !important;
    height: 7vh; 
  }

  .navBar {
    width: 100vw !important;
    font-size: 3.5vw;
  }

  .navBar a {
    font-size: 3vw;
  }

  .userHomeTitle h1 {
   padding: 50px 20px 0 0;
   font-size: 7vw;
   color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: black;
   font-weight: bolder;
  }

  .userHomeTitle h2 {
    margin-right: 15px;
    font-size: 6vw;
    color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: black;
   font-weight: bolder;
  }

  .tickerSearchBar {
    margin-left: 35px; 
  }

  .tickerSearchBar label {
    font-size: 6vw;
  }

  .tickerSearchBar input {
    width: 40vw;
    font-size: 4vw; 
    text-align: center;
  }

  .watchlist {
    // padding-right: 25px;
    display: flex;
    justify-content: center;
    padding: 0px !important;
    width: 90vw;
    flex-direction: column;
  }
  
  .watchlistSpacer {
    width: 90vw !important;
    padding: 0px !important;
  }

  .list-group-item.watchlistSpacer {
    width: 90vw;
    font-size: 14px;
    padding: 0px !important;
  }

  .editBtn button {
    margin-top: 7px !important;
    width: 15vw;
    height: 5vh;
    font-size: 2vw !important;
    text-align: center !important;
  }

  .tradeInfo {
    width: 55vw;
    height: 10vh;
    padding: 7px 0 5px 15px;
    font-size: 3vw;
  }

  .tradeInfo h5 {
    font-size: 5vw;
  }

  .recordTrade {
    margin-top: 10px;
    margin-left: 0px;
    width: 90vw;
    // margin-left: 15px;
  }

  canvas.chart{
    // background:rgba(0,0,0,0.5);
    margin-left: -25px;
    position:relative;
    padding-right: 0px !important;
    display: block;
    width:100vw !important;
    height: 40vh !important;
  }

  .modal1, .modal2 {
    width: 100% !important; 
  }
}


.identification, #identification {
  display:none;
}